<div id="tittle">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">

    <h2>Sobre mi</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis at cumque laboriosam tenetur, quasi soluta eos sint id dolores ratione velit esse? Voluptas atque commodi architecto totam reprehenderit porro doloribus. Dolor pariatur velit voluptatibus
        dolorem quo quos eaque quam assumenda quis ex sint facilis, quae delectus suscipit cumque placeat nostrum, repellat corporis aliquam repellendus minima, labore possimus recusandae? Provident, nostrum!</p>
</article>